{% extends "layout.html" %}
{% block content %}
    <h1>{{ opt }} From Katieland</h1>
    <h2>Choose Your Adventure!</h2>
    <div class="row">
        <div class="col">
            <a href="{{ url_for(route, place='New_York') }}">
                <img class="img-thumbnail mb-2" src="{{ url_for('static', filename='website_pics/nycSmall.jpg') }}">
            </a>
        </div>
        <div class="col">
            <a href="{{ url_for(route, place='Milwaukee') }}">
                <img class="img-thumbnail mb-2" src="{{ url_for('static', filename='website_pics/mkeSmall.jpg') }}">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{{ url_for(route, place='Madison') }}">
                <img class="img-thumbnail mb-2" src="{{ url_for('static', filename='website_pics/madSmall.jpg') }}">
            </a>
        </div>
        <div class="col">
            <a href="{{ url_for(route, place='Chicago') }}">
                <img class="img-thumbnail mb-2" src="{{ url_for('static', filename='website_pics/chiSmall.jpg') }}">
            </a>
        </div>
    </div>
    
{% endblock content %}