{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Videos by {{ user.username }}</h1>
    {% for video in videos.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + video.author.imageFile) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('users.userVideos', username=video.author.username) }}">{{ video.author.username }}</a>
                    <small class="text-muted">{{ video.datePosted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('videos.video', videoID=video.id) }}">{{ video.title }}</a></h2>
                <div class="embed-responsive embed-responsive-1by1">
                    <video controls>
                        <source src="{{ url_for('static', filename='videos/' + video.videoFile) }}" type="video/mp4">
                    </video>
                </div>
            </div>
        </article>
    {% endfor %}
    {% for pageNum in videos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if pageNum %}
            {% if pageNum == videos.page %}
                <a class="btn btn-info mb-4" href="{{ url_for('users.userVideos', username=user.username, page=pageNum) }}">{{ pageNum }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('users.userVideos', username=user.username, page=pageNum) }}">{{ pageNum }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}